<h4><span class="page_header">Viewing: <%= @idea.title %></span></h4>

<span>
| Created By: <%= @idea.user_full_name.titleize %>
| <%# @idea.like.count %>
| <%=  %>
</span><hr>

<p><%= @idea.body %></p>
